<div ng-controller="HomeCtrl">
    <header>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href>Mean Note</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href ng-click="logout()">Log out</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 main-left">
                <h3 class="page-header text-center">Hello {{ currentUser }}</h3>
                <h4 class="text-center page-header">Add more note</h4>
                <form ng-submit="addNote()" role="form" class="text-center">
                    <div class="form-group">
                        <textarea class="form-control" ng-model="newNote" placeholder="Type your note here..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class="col-sm-8 col-md-8 main-right">
                <ul class="list-unstyled list-group">
                    <li class="list-group-item note-item" ng-repeat="note in notes | orderBy:'-date'" ng-show="notes.length > 0">
                        <span class="lead" ng-hide="editMode === true">{{ note.text }}</span>

                        <textarea ng-model="note.text" id="{{note._id}}" ng-show="editMode === true"></textarea>

                        <br>

                        <small ng-hide="editMode === true"><i>Posted in {{ note.date | date:'hh:mm:ss dd/MM/yyyy' }}</i></small>
                        
                        <span ng-hide="editMode === true" class="pull-right"><button class="btn btn-danger" ng-click="removeNote(note)">x</button></span>
                        <span class="pull-right">&nbsp;</span>
                        <span ng-hide="editMode === true" class="pull-right"><button class="btn btn-warning" ng-click="editMode = true"><i class="glyphicon glyphicon-edit"></i></button></span>

                        <span ng-show="editMode === true" class="pull-right"><button class="btn btn-default" ng-click="editMode = false">Cancel</button></span>
                        <span ng-show="editMode === true" class="pull-right"><button class="btn btn-success" ng-click="saveNote(note)"><i class="glyphicon glyphicon-ok"></i>&nbsp;Save Changes</button></span>
                        <span class="pull-right" ng-show="editMode === true">&nbsp;</span>
                        <div class="clearfix"></div>
                    </li>
                    <li ng-hide="notes.length > 0" style="padding: 10px 0px">
                        <h3 class="text-center">You have no note here. Let's note anything you want !</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>