<div class="container" ng-controller="SignupCtrl">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 login">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="text-center">Sign Up For Free</h2>
                </div>
                <div class="panel-body">
                    <form ng-submit="signup()" role="form" novalidate name="signupForm">
                        <div class="form-group">
                            <label for="">Username</label>
                            <input type="text" class="form-control" ng-model="username" name="username" id="username" ng-blur="checkUser()" placeholder="Username..." ng-required="true" minlength="5" autofocus>
                            <p class="text-center text-danger" ng-show="error">User is already registered.</p>
                            <p class="text-center text-success" ng-show="done">User is valid</p>
                            <p class="text-center text-danger" ng-show="lengthErr">Username must be at least 5 character.</p>
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" class="form-control" ng-model="password" name="password" minlength="5" placeholder="Password..." ng-required="true">
                            <p class="text-center text-danger" ng-show="signupForm.password.$touched && signupForm.password.$invalid">Password must be at least 5 character.</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="submit" class="btn btn-primary btn-block" ng-disabled="signupForm.$invalid || !checkuser">Sign up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>